---
export interface Props {
  experience: {
    id: string;
    period: string;
    title: string;
    company: string;
    description: string;
  };
}

const { experience } = Astro.props;
---

<div class="experience-item">
  <div class="experience-date">{experience.period}</div>
  <h3 class="experience-title">{experience.title}</h3>
  <div class="experience-company">{experience.company}</div>
  <div class="experience-description" set:html={experience.description.replace(/\n/g, '<br>')} />
</div>